*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

article img{
	width: 100%;
	border-radius: 10px;
	margin-top: 15px;
}

body{
	background-color: #192229;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #212e36;
	box-shadow: 0 4px 25px -22px black;
	z-index: 2;
}

.header-content{
	max-width: 1500px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	transition: 500ms;
}

.logo{
	height: 60px;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center ;
}

.logo img{
	height: 90%;
}

.menu{
	height: 70px;
	padding: 15px 0;
}

.menu nav ul{
	height: 100%;
	display: flex;
	list-style: none;
}

.menu nav ul li{
	height: 100%;
	margin:  0% 30px;
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
}

.menu-selected:before{
	content: '';
	width: 100%;
	height: 4px;
	background: #46A2FD;
	position: absolute;
	top: 30px;
	left: 0;
}

.menu nav ul li a{
	color: rgba(189,189,189,1);
}

.menu nav ul li a:hover{
	color: rgba(125,182,177,1);
	transition: color 300ms;
}

.menu .text-menu-selected{
	color: rgba(125,182,177,1);
}

#icon-menu{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 40px;
	top: 12px;
	font-size: 16px;
	background: #10151a;
	border-radius: 100%;
	color: #787878;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#icon-menu:hover{
	opacity: 0.8;
}

#icon-menu::marker{
	transform: rotate(180deg);
	transition:500ms;
}

/*img{imagewith: 100%}*/

.container-content{
	width: 1400px;
	margin: auto;
	padding-top: 90px;
	display: flex;
	justify-content: center;
	transition:all 500ms;
}

article{
	width: 100%;
	padding: 40px;
	box-shadow: -10px 0 20px -30px black;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	background-color: #212E36;
}

article:before{
	content: '';
	width: 100%;
	height: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #52A5E0 ;

}

article h1{
	margin-top: 1.2%;
	font-weight: 500;
	font-size: 40px;
	color: #EFF3F5;
}

article p{
	margin-top: 20px;
	font-size: 18px;
	color: #C8CDD0;
}

img#foto-perfil{
	width: 300px 300px;
	margin-left: 30px;
	border-radius: 100%;
}

/*Lado Derecho*/

.container-aside aside{
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 0 20px -20px black;
	overflow: hidden;
	background-color: #212E36;
	margin-left: 40px;
	margin-bottom: 30px;
	position: relative;
	transition: 500ms;
}

.container-aside aside img{
	width: 80%;
	margin: 20px 10%;
	border-radius: 10px;
}

.container-aside aside h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 20px;
	color: #EFF3F5;
	font-weight: 400;
	font-size: 18px;
}

.container-aside aside p {
	margin-top: 20px;
	padding: 0 20px;
	font-weight: 300;
	color: #C8CDD0;
}

.container-aside aside button{
	margin-top: 20px;
	margin-left: 60px;
	padding: 10px 50px;
	font-size: 16px;
	background: #f5adad;
	transition: 500ms;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.container-aside aside button:hover{
	opacity: 0.8;
	transition: 500ms;
}

.container-aside aside ul li a{
	color: rgba(189,189,189,1);
	padding: 0 30px;
}

.container-aside aside ul li a:hover{
	color: rgba(125,182,177,1);
	transition: color 300ms;
}

.container-aside div:before{
	content: '';
	width: 6px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #f5adad ;

}

/*Footer-pie de pagina*/

.container-footer{
	width: 100%;
	padding: 40px 0;
	background: #10151a;
	margin-top: 40px;
}

.container-footer footer{
	max-width: 1400px;
	margin: auto;
}

.container-footer footer .logo-footer{
	text-align: center;
}

.container-footer footer .logo-footer img{
	width: 50px;
}

.container-footer footer hr{
	margin-top: 20px;
	border: none;
	height: 2px;
	background: #212e36;
}

.container-footer h4{
	text-align: center;
	margin-top: 40px;
	color: rgba(189,189,189,1);
	font-weight:500;
	font-size: 13px
}

@media screen and (max-width: 1600px){

	.header-content{
		max-width: 1300px;
		padding: 0px 20px;
		transition: 500ms;
	}
	
}

@media screen and (max-width: 1450px) {
	.container-content{
		width: 1240px;
		transition: 500ms;
	}

	.container-aside aside{
		margin-left: 30px;
		width: 250px;
		transition: 500ms;
	}

	.container-aside aside button{
		padding: 10px 30px;
		transition: 500ms;
	}
}

@media screen and (max-width:1295px){
	.container-content{
		width: 1120px;
		transition: 500ms;
	}
	
}

@media screen and (max-width: 1200px){

	.container-content{
		width: 95%;
		flex-direction: column;
		transition: 500ms;
	}

	article{
		box-shadow: 0 0 0 0;
		transition: 500ms;
	}

	.container-aside{
		display: flex;
		justify-content: center;
		transition: 500ms;
	}

	.container-aside aside{
		max-width: 300px;
		margin: 20px 10px 10px 10px;
		transition: 500ms;
	}
}


@media screen and (max-width: 1130px){

	body{
		overflow-x: hidden;
	}

	.container-all{
		transition: all 500ms;
	}

	.move-container-all{
		transform: translateX(300px);
	}

	.menu{
		width: 0px;
		height: 100vh;
		position: fixed;
		top: 60px;
		left: 0;
		background: #212E36;
		overflow: hidden;
		transform: translateX(-300px);
		box-shadow: 10px 0 20px -25px black;
		transition: all 500ms;
	}

	.mostrar_menu{
		width: 300px;
		transform: translateX(0px);
	}

	.menu nav ul{
		flex-direction: column;
	}

	.menu nav ul li{
		max-width: 200px;
		height: 50px;
		justify-content: flex-start;
	}

	.menu-selected:before{
		width:0;
	}

	#icon-menu{
		display: flex;
	}

	.container-aside{
		flex-wrap: wrap;
	}

}