
input[type="radio"]{
    display: none;
}

:root{
    --color-principal: #11A2C0;
    --color-texto: #FDFCFF;
	--color-resaltado: #30f7f088 ;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    opacity: 0.8;
}



/*Post - Publicaciones*/

.container-post{
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border: solid;
    border-radius: 9px;
    border-color: var(--color-resaltado);
    margin-top: 20px;
    padding: 20px;
    height: max-content;
}

.posts .post{
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--color-principal); 
}

.post .ctn-img{
    width: 100%;
    background-color: var(--color-resaltado);
}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    padding: 10px 50px;
    font-size: 16px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.post button:hover{
    opacity: 0.9;
}

.container-post h2{
    padding-top: 3ch;
    color: var(--color-texto);
}

/*sistema de filtrado*/

[value="TODOS_M3"]:checked ~ .posts .post[data-category]{display: block;}

[value="CICLO_1_M3"]:checked ~ .posts .post:not([data-category~="CICLO_1_M3"]),
[value="CICLO_2_M3"]:checked ~ .posts .post:not([data-category~="CICLO_2_M3"]),
[value="CICLO_3_M3"]:checked ~ .posts .post:not([data-category~="CICLO_3_M3"]),
[value="CICLO_4_M3"]:checked ~ .posts .post:not([data-category~="CICLO_4_M3"]),
[value="CICLO_5_M3"]:checked ~ .posts .post:not([data-category~="CICLO_5_M3"]),
[value="CICLO_6_M3"]:checked ~ .posts .post:not([data-category~="CICLO_6_M3"]),
[value="CICLO_7_M3"]:checked ~ .posts .post:not([data-category~="CICLO_7_M3"]),
[value="CICLO_8_M3"]:checked ~ .posts .post:not([data-category~="CICLO_8_M3"]),
[value="CICLO_9_M3"]:checked ~ .posts .post:not([data-category~="CICLO_9_M3"]),
[value="CICLO_10_M3"]:checked ~ .posts .post:not([data-category~="CICLO_10_M3"]),
[value="TODOS_M3"]:checked ~ .posts .post:not([data-category~="TODOS_M3"]){
    display: none;
}


[value="CICLO_1_M3"]:checked ~ .container-category [for="CICLO_1_M3"],
[value="CICLO_2_M3"]:checked ~ .container-category [for="CICLO_2_M3"],
[value="CICLO_3_M3"]:checked ~ .container-category [for="CICLO_3_M3"],
[value="CICLO_4_M3"]:checked ~ .container-category [for="CICLO_4_M3"],
[value="CICLO_5_M3"]:checked ~ .container-category [for="CICLO_5_M3"],
[value="CICLO_6_M3"]:checked ~ .container-category [for="CICLO_6_M3"],
[value="CICLO_7_M3"]:checked ~ .container-category [for="CICLO_7_M3"],
[value="CICLO_8_M3"]:checked ~ .container-category [for="CICLO_8_M3"],
[value="CICLO_9_M3"]:checked ~ .container-category [for="CICLO_9_M3"],
[value="CICLO_10_M3"]:checked ~ .container-category [for="CICLO_10_M3"],
[value="TODOS_M3"]:checked ~ .container-category [for="TODOS_M3"]{
    background: var(--color-resaltado);
    color: #fff;
}


[value="TODOS_M4"]:checked ~ .posts .post[data-category]{display: block;}

[value="CICLO_1_M4"]:checked ~ .posts .post:not([data-category~="CICLO_1_M4"]),
[value="CICLO_2_M4"]:checked ~ .posts .post:not([data-category~="CICLO_2_M4"]),
[value="CICLO_3_M4"]:checked ~ .posts .post:not([data-category~="CICLO_3_M4"]),
[value="CICLO_4_M4"]:checked ~ .posts .post:not([data-category~="CICLO_4_M4"]),
[value="CICLO_5_M4"]:checked ~ .posts .post:not([data-category~="CICLO_5_M4"]),
[value="CICLO_6_M4"]:checked ~ .posts .post:not([data-category~="CICLO_6_M4"]),
[value="CICLO_7_M4"]:checked ~ .posts .post:not([data-category~="CICLO_7_M4"]),
[value="CICLO_8_M4"]:checked ~ .posts .post:not([data-category~="CICLO_8_M4"]),
[value="CICLO_9_M4"]:checked ~ .posts .post:not([data-category~="CICLO_9_M4"]),
[value="CICLO_10_M4"]:checked ~ .posts .post:not([data-category~="CICLO_10_M4"]),
[value="TODOS_M4"]:checked ~ .posts .post:not([data-category~="TODOS_M4"]){
    display: none;
}


[value="CICLO_1_M4"]:checked ~ .container-category [for="CICLO_1_M4"],
[value="CICLO_2_M4"]:checked ~ .container-category [for="CICLO_2_M4"],
[value="CICLO_3_M4"]:checked ~ .container-category [for="CICLO_3_M4"],
[value="CICLO_4_M4"]:checked ~ .container-category [for="CICLO_4_M4"],
[value="CICLO_5_M4"]:checked ~ .container-category [for="CICLO_5_M4"],
[value="CICLO_6_M4"]:checked ~ .container-category [for="CICLO_6_M4"],
[value="CICLO_7_M4"]:checked ~ .container-category [for="CICLO_7_M4"],
[value="CICLO_8_M4"]:checked ~ .container-category [for="CICLO_8_M4"],
[value="CICLO_9_M4"]:checked ~ .container-category [for="CICLO_9_M4"],
[value="CICLO_10_M4"]:checked ~ .container-category [for="CICLO_10_M4"],
[value="TODOS_M4"]:checked ~ .container-category [for="TODOS_M4"]{
    background: var(--color-resaltado);
    color: #fff;
}


[value="TODOS_M5"]:checked ~ .posts .post[data-category]{display: block;}

[value="CICLO_1_M5"]:checked ~ .posts .post:not([data-category~="CICLO_1_M5"]),
[value="CICLO_2_M5"]:checked ~ .posts .post:not([data-category~="CICLO_2_M5"]),
[value="CICLO_3_M5"]:checked ~ .posts .post:not([data-category~="CICLO_3_M5"]),
[value="CICLO_4_M5"]:checked ~ .posts .post:not([data-category~="CICLO_4_M5"]),
[value="CICLO_5_M5"]:checked ~ .posts .post:not([data-category~="CICLO_5_M5"]),
[value="CICLO_6_M5"]:checked ~ .posts .post:not([data-category~="CICLO_6_M5"]),
[value="CICLO_7_M5"]:checked ~ .posts .post:not([data-category~="CICLO_7_M5"]),
[value="CICLO_8_M5"]:checked ~ .posts .post:not([data-category~="CICLO_8_M5"]),
[value="CICLO_9_M5"]:checked ~ .posts .post:not([data-category~="CICLO_9_M5"]),
[value="CICLO_10_M5"]:checked ~ .posts .post:not([data-category~="CICLO_10_M5"]),
[value="TODOS_M5"]:checked ~ .posts .post:not([data-category~="TODOS_M5"]){
    display: none;
}


[value="CICLO_1_M5"]:checked ~ .container-category [for="CICLO_1_M5"],
[value="CICLO_2_M5"]:checked ~ .container-category [for="CICLO_2_M5"],
[value="CICLO_3_M5"]:checked ~ .container-category [for="CICLO_3_M5"],
[value="CICLO_4_M5"]:checked ~ .container-category [for="CICLO_4_M5"],
[value="CICLO_5_M5"]:checked ~ .container-category [for="CICLO_5_M5"],
[value="CICLO_6_M5"]:checked ~ .container-category [for="CICLO_6_M5"],
[value="CICLO_7_M5"]:checked ~ .container-category [for="CICLO_7_M5"],
[value="CICLO_8_M5"]:checked ~ .container-category [for="CICLO_8_M5"],
[value="CICLO_9_M5"]:checked ~ .container-category [for="CICLO_9_M5"],
[value="CICLO_10_M5"]:checked ~ .container-category [for="CICLO_10_M5"],
[value="TODOS_M5"]:checked ~ .container-category [for="TODOS_M5"]{
    background: var(--color-resaltado);
    color: #fff;
}


[value="TODOS_M6"]:checked ~ .posts .post[data-category]{display: block;}

[value="CICLO_1_M6"]:checked ~ .posts .post:not([data-category~="CICLO_1_M6"]),
[value="CICLO_2_M6"]:checked ~ .posts .post:not([data-category~="CICLO_2_M6"]),
[value="CICLO_3_M6"]:checked ~ .posts .post:not([data-category~="CICLO_3_M6"]),
[value="CICLO_4_M6"]:checked ~ .posts .post:not([data-category~="CICLO_4_M6"]),
[value="CICLO_5_M6"]:checked ~ .posts .post:not([data-category~="CICLO_5_M6"]),
[value="CICLO_6_M6"]:checked ~ .posts .post:not([data-category~="CICLO_6_M6"]),
[value="CICLO_7_M6"]:checked ~ .posts .post:not([data-category~="CICLO_7_M6"]),
[value="CICLO_8_M6"]:checked ~ .posts .post:not([data-category~="CICLO_8_M6"]),
[value="CICLO_9_M6"]:checked ~ .posts .post:not([data-category~="CICLO_9_M6"]),
[value="CICLO_10_M6"]:checked ~ .posts .post:not([data-category~="CICLO_10_M6"]),
[value="TODOS_M6"]:checked ~ .posts .post:not([data-category~="TODOS_M6"]){
    display: none;
}


[value="CICLO_1_M6"]:checked ~ .container-category [for="CICLO_1_M6"],
[value="CICLO_2_M6"]:checked ~ .container-category [for="CICLO_2_M6"],
[value="CICLO_3_M6"]:checked ~ .container-category [for="CICLO_3_M6"],
[value="CICLO_4_M6"]:checked ~ .container-category [for="CICLO_4_M6"],
[value="CICLO_5_M6"]:checked ~ .container-category [for="CICLO_5_M6"],
[value="CICLO_6_M6"]:checked ~ .container-category [for="CICLO_6_M6"],
[value="CICLO_7_M6"]:checked ~ .container-category [for="CICLO_7_M6"],
[value="CICLO_8_M6"]:checked ~ .container-category [for="CICLO_8_M6"],
[value="CICLO_9_M5"]:checked ~ .container-category [for="CICLO_9_M6"],
[value="CICLO_10_M6"]:checked ~ .container-category [for="CICLO_10_M6"],
[value="TODOS_M6"]:checked ~ .container-category [for="TODOS_M6"]{
    background: var(--color-resaltado);
    color: #fff;
}










@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}